{{define "title"}}Updates{{end}}

{{define "main"}}
    <div class="update-list">
    {{range .Updates}}
    <div class="update update-list-element">
        <h2><a href="/update/view/{{.ID}}">{{.Title}}</a></h2>
        <h3>{{.UserID}}</h3>
        <p>{{.Body}}</p>
    </div>
    {{end}}
    </div>
{{end}}