{{define "title"}}Verify Account{{end}}
{{define "main"}}
    <div>
        <h1>Verify Account</h1>
        <form action="/user/verify" method="post">
            <input type="submit" value="Verify">
        </form>
        <small>This is just temporary</small>
    </div>
{{end}}