{{define "nav"}}
    <nav class="navbar">
        <a class="left" href='/'>Home</a>
        <a class="left" href="/update/list">Updates</a>
        <a class="left" href="/shop">Shop</a>
        <a class="right" href="/user/create">Login</a>
    </nav>
{{end}}